<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.2.xsd
		http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.test.servicemonitor.gateway" />

	<int:gateway id="httpRequestGateway"
		service-interface="com.test.servicemonitor.gateway.HttpRequestGateway"
		default-request-channel="httpReqOutStaging" default-reply-channel="httpRespIn" />

	<int:channel id="httpReqOutStaging" />
	<int:channel id="httpReqOut" />
	<int:channel id="httpRespIn" />

	<int:object-to-map-transformer
		input-channel="httpReqOutStaging" output-channel="httpReqOut" />

	<int-http:outbound-gateway id="httpOutboundGateway"
		request-channel="httpReqOut" reply-channel="httpRespIn"
		http-method-expression="headers.method" url-expression="headers.url"
		expected-response-type="java.lang.String" />

	<int:gateway id="failedCheckProcessingGateway"
		service-interface="com.test.servicemonitor.gateway.FailedCheckProcessingGateway"
		default-request-channel="failedCheckResultIn" />

	<int:channel id="failedCheckResultIn" />
	<int:channel id="failedCheckResultInEnriched" />
	
	<int:chain id="enricherChain" 
		input-channel="failedCheckResultIn" output-channel="failedCheckResultInEnriched">
		<int:header-enricher>
			<int:header name="remoteSystem" expression="@remoteSystemService.get(headers.systemId)" />
			<int:header name="notifications" expression="@notificationService.getBySystemId(headers.systemId)" />
		</int:header-enricher>
		<int:header-enricher>
			<int:header name="notificationTypes" expression="T(com.test.servicemonitor.util.Utils).extractNotificationTypes(headers.notifications)" />
		</int:header-enricher>
	</int:chain>
	
	<int:channel id="sendEmailChannel" />
	<int:channel id="sendSmsChannel" />

	<int:recipient-list-router input-channel="failedCheckResultInEnriched"
		default-output-channel="nullChannel">
		<int:recipient channel="sendEmailChannel"
			selector-expression="notificationTypes.contains(T(com.test.servicemonitor.persistance.Notification.Types).EMAIL.getDbValue())" />
		<int:recipient channel="sendSmsChannel"
			selector-expression="notificationTypes.contains(T(com.test.servicemonitor.persistance.Notification.Types).SMS.getDbValue())" />
	</int:recipient-list-router>
	
		
</beans>
